body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#random-ramen, #current-time {
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #333;
}
